<% @post.comments.each do |comment| %>
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
  <div class="media-body">
    <h4 class="media-heading">
      <%= comment.written_by %>
      <small><%= comment.formatted_created_at %></small>
    </h4>
    <%= comment.content %>
    </div>
  </div>

<% end %>
</div>