<div class="well">
  <h4> Leave a Comment </h4>
  <%= bootstrap_form_for(@post) do |f| %>
    <%= f.text_area :comments, class: "form-control", rows: 7 %>
    <%= f.submit "Submit" %>
  <% end %>

</div>
<hr>

