<% if current_user.posts.blank? %>
  You have no posts yet!
<% else %>
  My Posts:
  <% current_user.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
<% end %>